@using Microsoft.AspNetCore.Identity
@using FilmLibrary.Model
@inject SignInManager<AppUser> SignInManager
@model List<Film>


<table style="margin-top: 20px;text-align: center;" class="table table-condensed" id="tbl-lookups">
    <thead>
        <tr>
            <th>Name</th>
            <th>Director</th>
            <th>Star</th>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <th>UserName</th>
            }
            <th>Borrow date</th>
            <th>Details</th>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <th>Force return</th>
            }
            else
            {
                <th>Return</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
        <tr>
            <td>@film.Name</td>
            <td>@film.Director</td>
            <td>
                @for (int i = 1; i <= film.Star; i++)
                {
                    <span class="fa fa-star text-warning"></span>
                }
            </td>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <td>@film.UserName</td>
            }
            <td>@film.BorrowDate</td>
            <td>
                <a asp-action="Details" asp-route-id="@film.ID" class="btn btn-info">Details</a>
            </td>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Return" asp-route-id="@film.ID" class="btn btn-danger">Force return</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Return" asp-route-id="@film.ID" class="btn btn-warning">Return</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>