@using Microsoft.AspNetCore.Identity
@using FilmLibrary.Model
@inject SignInManager<AppUser> SignInManager
@model List<Film>

<table style="margin-top: 20px;text-align: center;" class="table table-condensed" id="tbl-films">
    <thead>
        <tr>
            <th>Name</th>
            <th>Director</th>
            <th>Star</th>
            <th>Details</th>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <th>Edit</th>
                <th>Delete</th>
            }
            @if (SignInManager.IsSignedIn(User) && !User.IsInRole("Admin"))
            {
                <th>Borrow</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.Name</td>
                <td>@film.Director</td>
                <td>
                    @for(int i = 1; i <= film.Star; i++)
                    {
                        <span class="fa fa-star text-warning"></span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@film.ID" class="btn btn-info">Details</a>
                </td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@film.ID" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@film.ID" class="btn btn-danger">Delete</a>
                    </td>
                }
                @if (SignInManager.IsSignedIn(User) && !User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Borrow" asp-route-id="@film.ID" class="btn btn-warning">Borrow</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>